@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
    color: #202124;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
body, input, button {
    color: #202124;
    font-size: 13px;
    font-family: arial, sans-serif;
}
header {
	width: 100%;
	height: 60px;
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header nav div {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header nav div.nav_1 {
	padding-right: 15px;
}
header nav div.nav_1 a {
    padding-left: 15px;
}
header nav div.nav_1 a:hover {
	text-decoration: underline;
}
header nav div a {

}
header nav div #menu_apps {
	height: 100%;
	padding: 4px;
}
header nav div #menu_apps img {
	height: 100%;
	border-radius: 25px;
}
header nav div #menu_apps img:hover {
	background-color: #eee;
	cursor: pointer;
}
header nav div #acceder {
	color: #fff;
    background: #1a73e8;
    margin-left: 10px;
    margin-right: 8px;
    padding: 9px 23px;
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
}
header nav div #acceder:hover {	
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}
main .img_google {
	width: 100%;
	height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .img_google img {
	height: 100%;
	margin-top: 15px;
}
main .cont_buscador {
	width: 100%;
	height: 160px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
main .cont_buscador form {
	width: 100%;
    max-width: 584px;
    margin: 0 auto;
    padding-top: 6px;
    position: relative;
}
main .cont_buscador form .buscador {	
    background: #fff;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
main .cont_buscador form .buscador:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
main .cont_buscador form .buscador img {
	width: auto;
	height: 24px;
}
main .cont_buscador form .buscador label {
	width: 24px;
	height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .cont_buscador form .buscador label img {
	width: 15px;
	height: 15px;
}
main .cont_buscador form .buscador input {
    color: rgba(0,0,0,.87);
    background-color: transparent;
    width: 100%;
    max-width: 487px;
    height: 34px;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 16px;
    border: none;
}
main .cont_buscador form .buscador input:focus {
	outline: 0;
}
main .cont_buscador form .buscador input:active {
	outline: none;
	border: none;
}
main .cont_buscador form .botones {
	height: 70px;
	padding-top: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}
main .cont_buscador form .botones a {
    color: #3c4043;	
    background-color: #f8f9fa;
    height: 36px;
    margin: 11px 4px;
    padding: 0px 16px;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}
main .cont_buscador form .botones a:hover {
    color: #202124;
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}
footer {
    color: #70757a;
    background: #f2f2f2;
	width: 100%;
	height: 94px;
	position: absolute;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
footer div {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 15px;
}
footer div.pais {
	padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}
footer div.sobre_google {
	padding: 0px 15px;
	justify-content: space-between;
}
footer div ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer div ul li {
	list-style: none;
}
footer div ul li a {
    color: #70757a;
    padding: 15px;
    font-size: 14px;
}
footer div ul li a:hover {
	text-decoration: underline;
}